@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
        body * {
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        body {
            padding-top: 80px;
        }


        /* 網頁Header區塊 */
        header {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            padding: 28px 0;
            display: flex;
            justify-content: center;
            background-color: rgb(237, 238, 238);
            z-index: 1000;
        }

        header nav {
            width: 990px;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            gap: 39px;
        }

        header nav a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.60);
            font-size: 20px;
            transition: .3s;
        }

        header nav a.active,
        header nav a:hover {
            color: #000000;
            font-weight: bold;
        }

        /* 主要內容區塊 */
        main {
            width: 1255px;
            display: flex;
            margin: auto;
            flex-direction: column;
            /*justify-content: space-between;*/
            /*align-items: flex-start;*/
            padding-top: 0px;
        }
        .home {
            display: flex;
            /*justify-content: space-between;*/
            align-items: flex-start;
            margin-right: 65px;
            margin-left: 65px;
            margin-bottom: 25px;
            margin-top: 25px;
        }
        .home .homeContent1 {
            display: flex; /* 使用 Flexbox */
            align-items: center;
            padding-left:10px;
        }
        .t2023{
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 120px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            background: linear-gradient(180deg, #7DF9ED 31.54%, #40434A 68.55%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            height: 181px;
            transform-origin: 0 0;
        }

        .uu {
            color: #40434A;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 107.8%; /* 64.68px */
            letter-spacing: 0.9px;
        }
                 
        .t2023,.uu {
            margin: 0; /* 去除默认的间距 */
        }

        .lin{
            color: #000000;
            font: 400 25px/91.3% 'NotoSansTc-Regular', sans-serif;
            padding-top:30px;
            padding-left: 10px;
        }

        .portfolio{            
            color: #40434a;
            font: 700 150px/91.3% 'NotoSansTc-Bold', sans-serif;
            width: 455px;
            height: 270px;
            padding-left: 0px;
        }
        .home-right {
            margin-left: 20px;
            position: relative;
            width: 620px;
            height: 520px;
        }
        
        .home-right .mypic {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .home-right .contact {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        main div ul {
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
        }

        main div ul li {}

        main div ul li a {}

        main div ul li a img {
            width: 44px;
            height: 44px;
        }
        .aboutMe{
            margin-top: 85px;
            text-align: center;
        }
        .aboutme_container{
            margin-top: 20px;
            height: 520px;
            background-color: #edeff4;
        }
        .myWorks{
            margin-top: 85px;
            margin-top: 20px;
            text-align: center;
        }
        .myworks_container{
            margin-top: 20px;
            height: 520px;
            background-color: #edeff4;
            margin-bottom: 10px;
        }